<!doctype html>

<html>
<head>
	<title>Contempo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="css/social-buttons.css">
      <link rel="stylesheet" type="text/css" href="css/connected.css">
        
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <style>

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}

</style>
    
</head>

<body>
    
   
    <div class="jumbotron">
        <h1>Contempo</h1>
    </div>
    
    <div id="container">
            
            <div id="chart_placeholder"></div>
            <p>Hover over colored tick mark next to title to see which other movies were liked by the friends that liked that movie.</p>
    <table id="results">
        <tr id="header">
            <th>Movie Title</th>
            <th>Likes</th>
            <th>Dependencies</th>
        </tr>
        {{#each list}}
            <tr>
                <td>{{title}}</td>
                <td>{{likes}}</td>
                <td class="dep">{{common}}</td>
            </tr>
        {{/each}}
    </table>
    </div>


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
   <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="js/d3.dependencyWheel.js"></script>
    <script type=text/javascript> 
    
    //alert("hi");
    var chart = d3.chart.dependencyWheel()
    .width(800)    // also used for height, since the wheel is in a a square
    .margin(240)   // used to display package names
    .padding(.25); // separating groups in the wheel;
    var package = [];
    var dependencyMatrix = [];
    var movies = [];
    
    for (var i = 1; i < 26; i++) { //skip the header
        dependencyMatrix[i-1] = [];
        
        var temp = document.getElementById("results").rows[i].cells;
        movies.push(temp[0].innerHTML);
        var dep = temp[2].innerHTML.split(",");
        //alert(temp[2].innerHTML[0]);
        //alert(dep[0]);
        for (var j = 0; j < 25; j++) {
            dependencyMatrix[i-1].push(dep[j]);
        }
    }
    
    //alert(movies);
  // alert(dependencyMatrix[0]);

    var data = {
        
        packageNames: movies,
         matrix: dependencyMatrix
    };
    
   
    
    d3.select('#chart_placeholder')
    .datum(data)
    .call(chart);

    
    </script>

    
    

    
</body> 
</html>
